@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #a37529;
  --brand-secondary: #e4bf6e;
  --brand-black: #0a0a0a;
  --brand-black-secondary: #171717;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-brand-black text-white;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
