@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gatsby Glass Brand Fonts */
@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/Gill Sans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/Gill Sans Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/Gill Sans Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/Gill Sans Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/Gill Sans Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/Gill Sans Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/Gill Sans Medium Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/Gill Sans Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gatsby FLF';
  src: url('/fonts/GatsbyFLF.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gatsby FLF';
  src: url('/fonts/GatsbyFLF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gatsby FLF';
  src: url('/fonts/GatsbyFLF-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gatsby FLF';
  src: url('/fonts/GatsbyFLF-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --brand-primary: #a37529;
  --brand-secondary: #e4bf6e;
  --brand-black: #0a0a0a;
  --brand-black-secondary: #171717;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-brand-black text-white font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display uppercase;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
